docker/n8n/workflows/research-assistant-workflow.json
{
    "name": "Research Assistant - ArXiv Ingestion + CrewAI",
    "nodes": [
        {
            "parameters": {
                "formTitle": "Research Topic",
                "formDescription": "Enter your research topic to find relevant papers and generate a summary",
                "formSubmittedText": "Processing your request... This may take 1-2 minutes.",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "Research Topic",
                            "fieldType": "text",
                            "requiredField": true,
                            "fieldOptions": {
                                "placeholder": "e.g., 'machine learning for healthcare'"
                            }
                        }
                    ]
                }
            },
            "name": "Research Topic Form",
            "type": "n8n-nodes-base.form",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "=http://api:8000/rag/ingest/arxiv",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "query",
                            "value": "={{ $json.data['Research Topic'] }}"
                        },
                        {
                            "name": "max_results",
                            "value": 5
                        }
                    ]
                },
                "options": {
                    "timeout": 120000
                }
            },
            "name": "Ingest ArXiv Papers",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Validate RAG ingestion response\nconst ragResponse = $input.item.json;\nconst topic = items[0].json.data['Research Topic'];\n\n// Log the response\nconsole.log('RAG Response:', JSON.stringify(ragResponse, null, 2));\n\n// Check if ingestion was successful\nif (ragResponse.success === false || ragResponse.documents_loaded === 0) {\n  console.warn('Warning: No relevant papers found or ingestion failed');\n  console.warn('Errors:', ragResponse.errors);\n  \n  // Continue anyway - CrewAI will use fallback mode\n  return [{\n    json: {\n      topic: topic,\n      ragSuccess: false,\n      documentsLoaded: 0,\n      message: 'No relevant papers found - will use general knowledge'\n    }\n  }];\n}\n\n// Success - papers were loaded\nconsole.log(`Successfully loaded ${ragResponse.documents_loaded} papers`);\n\nreturn [{\n  json: {\n    topic: topic,\n    ragSuccess: true,\n    documentsLoaded: ragResponse.documents_loaded,\n    chunksIngested: ragResponse.chunks_ingested\n  }\n}];"
            },
            "name": "Validate RAG Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "url": "=http://api:8000/crewai/run",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "topic",
                            "value": "={{ $json.topic }}"
                        },
                        {
                            "name": "language",
                            "value": "en"
                        }
                    ]
                },
                "options": {
                    "timeout": 300000
                }
            },
            "name": "Run CrewAI Workflow",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "=# Research Summary\n\nTopic: {{ $json.topic }}\n\n---\n\n{{ $json.answer }}\n\n---\n\n**Generated by Research Assistant** | Powered by ArXiv + CrewAI",
                "options": {}
            },
            "name": "Return Summary",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1130,
                300
            ]
        }
    ],
    "connections": {
        "Research Topic Form": {
            "main": [
                [
                    {
                        "node": "Ingest ArXiv Papers",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ingest ArXiv Papers": {
            "main": [
                [
                    {
                        "node": "Validate RAG Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate RAG Response": {
            "main": [
                [
                    {
                        "node": "Run CrewAI Workflow",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run CrewAI Workflow": {
            "main": [
                [
                    {
                        "node": "Return Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}