docker/n8n/workflows/research-assistant-workflow.json
{
    "name": "Research Assistant Workflow",
    "nodes": [
        {
            "parameters": {},
            "id": "webhook-trigger",
            "name": "When Called",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "topic",
                            "value": "={{ $json.topic || 'What are transformer architectures in deep learning?' }}"
                        },
                        {
                            "name": "language",
                            "value": "={{ $json.language || 'en' }}"
                        }
                    ]
                }
            },
            "id": "set-params",
            "name": "Set Parameters",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "url": "=http://api:8000/crewai/run/async",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "topic",
                            "value": "={{ $json.topic }}"
                        },
                        {
                            "name": "language",
                            "value": "={{ $json.language }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "submit-job",
            "name": "Submit Async Job",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "amount": 5,
                "unit": "seconds"
            },
            "id": "wait-5s",
            "name": "Wait 5 Seconds",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "url": "=http://api:8000/crewai/status/{{ $('Submit Async Job').item.json.job_id }}",
                "method": "GET",
                "options": {}
            },
            "id": "check-status",
            "name": "Check Job Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.status }}",
                            "operation": "equals",
                            "value2": "completed"
                        }
                    ]
                }
            },
            "id": "is-completed",
            "name": "Is Completed?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "result",
                            "value": "={{ $json.result }}"
                        },
                        {
                            "name": "topic",
                            "value": "={{ $json.topic }}"
                        },
                        {
                            "name": "status",
                            "value": "={{ $json.status }}"
                        }
                    ]
                }
            },
            "id": "format-result",
            "name": "Format Result",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                1450,
                200
            ]
        },
        {
            "parameters": {},
            "id": "loop-back",
            "name": "Loop Back",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1450,
                400
            ]
        }
    ],
    "connections": {
        "When Called": {
            "main": [
                [
                    {
                        "node": "Set Parameters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Parameters": {
            "main": [
                [
                    {
                        "node": "Submit Async Job",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Submit Async Job": {
            "main": [
                [
                    {
                        "node": "Wait 5 Seconds",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 5 Seconds": {
            "main": [
                [
                    {
                        "node": "Check Job Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Job Status": {
            "main": [
                [
                    {
                        "node": "Is Completed?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Completed?": {
            "main": [
                [
                    {
                        "node": "Format Result",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Loop Back",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Back": {
            "main": [
                [
                    {
                        "node": "Wait 5 Seconds",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": null,
    "pinData": {},
    "versionId": "1"
}