docker/workflows/n8n/research-assistant-workflow.json
{
    "name": "ResearchAssistantGPT",
    "nodes": [
        {
            "parameters": {
                "formTitle": "ResearchAssistantGPT",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "Topic",
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "Language",
                            "requiredField": true
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.formTrigger",
            "typeVersion": 2.3,
            "position": [
                0,
                0
            ],
            "id": "3a38a677-d17c-494a-a7b2-4886d5bc09bb",
            "name": "On form submission",
            "webhookId": "36bf114e-070e-4c47-8aaf-c8bda41c78dd"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8000/rag/ingest/arxiv",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "=query",
                            "value": "={{ $json.Topic }}"
                        },
                        {
                            "name": "language",
                            "value": "={{ $json.Language }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                208,
                0
            ],
            "id": "9ebf2291-5015-4fe9-9ea9-467a7f9e5e77",
            "name": "HTTP Request"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8000/research/query",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "query",
                            "value": "={{ $('On form submission').item.json.Topic }}"
                        },
                        {
                            "name": "language",
                            "value": "={{ $('On form submission').item.json.Language }}"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "json"
                        }
                    },
                    "timeout": 100000000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                416,
                0
            ],
            "id": "6b32fe1e-e776-4bb5-9a0e-3a11e252282d",
            "name": "HTTP Request1"
        },
        {
            "parameters": {
                "operation": "completion",
                "completionTitle": "Ready",
                "completionMessage": "={{ $json.body.summary }}",
                "options": {}
            },
            "type": "n8n-nodes-base.form",
            "typeVersion": 2.3,
            "position": [
                928,
                0
            ],
            "id": "d2d6f059-aadb-4811-9b78-d7748ff1aed8",
            "name": "Form",
            "webhookId": "49e53493-3dde-4c22-97e7-1ca1f6b7c1ae"
        }
    ],
    "pinData": {},
    "connections": {
        "On form submission": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "HTTP Request1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request1": {
            "main": [
                [
                    {
                        "node": "Form",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "48043e93-0dc9-4554-a64b-0d79346bf911",
    "meta": {
        "instanceId": "9a3dbce0855c560add1a69685d8095ae8d38aa4b032d6d97aba964f31a63f454"
    },
    "id": "AoD1yzwW6vClliym",
    "tags": []
}